*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}
  
html {
    font-size: 16px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
